<div class="row cms-wrapper">
    <div class="col-md-4 left-content">
        <div class="sidebar">
            <page-list></page-list>
        </div>
    </div>
    <div class="col-md-8 right-content">
        <div class="main">
            <h2>Create Page</h2>
            <div *ngIf="!cs.config['isLogin']">
                <p>Please login first to create a page.</p>
              </div>
              <div *ngIf="cs.config['isLogin']">
                  <div class="form-group">
                    <label for="pageName">Name</label>
                    <input type="text" class="form-control" #pageName>
                    <small id="helpId" class="form-text text-muted">*Page name must be unique</small>
                  </div>
                  <div class="form-group">
                    <label for="pageContent">Content</label>
                    <textarea class="form-control" ref-pageContent [(ngModel)]="contentValue" cols=3></textarea>
                  </div>
                  <button class="btn btn-primary" (click)="add(pageName.value, pageContent.value); pageName.value=''; contentValue=''">Publish</button>
              </div>
        </div>
    </div>
</div>